In [ ]:
import _sqlite3

In [15]:
conectar = _sqlite3.connect ('BasedeDatos')

In [16]:
k = conectar.cursor()

In [ ]:
k.execute("""CREATE TABLE basededatos (
        nombre TEXT,
        edad INTEGER,
        estatura REAL
)""")

OperationalError: table basededatos already exists

In [ ]:
estudiantes = [
    ('Gael',17,1.80),
    ('Hugo',17,1.67),
    ('jose',17,1.90)
]

In [19]:
k.execute("INSERT INTO basededatos VALUES ('beto',17,1.90)")
k.executemany("INSERT INTO basededatos VALUES (?,?,?)", estudiantes)

In [20]:
k.execute("SELECT * FROM basededatos")
print(k.fetchall())

[('beto', 17, 1.9), ('Gael', 17, 1.8), ('Hugo', 17, 1.67), ('Gael', 17, 1.9)]

In [13]:
conectar.commit()
conectar.close()