In [1]:
import sqlite3

def crear_base():
    conexion = sqlite3.connect("BasedeDatos.db")
    cursor = conexion.cursor()

    cursor.execute("""
    CREATE TABLE Datos(
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        Nombre TEXT,
        Matricula INTEGER,
        Carrera TEXT
    )
    """)

In [2]:
def insertar_datos(nombre, matricula, carrera):
    conexion = sqlite3.connect("BasedeDatos.db")
    cursor = conexion.cursor()

    cursor.execute("""
    INSERT INTO Datos(Nombre, Matricula, Carrera)
    VALUES(?, ?, ?)
    """, (nombre, matricula, carrera))

    conexion.commit()
    conexion.close()

In [3]:
def mostrar_datos():
    conexion = sqlite3.connect("BasedeDatos.db")
    cursor = conexion.cursor()

    cursor.execute("SELECT * FROM Datos")
    registros = cursor.fetchall()

    for fila in registros:
        print(fila)

    conexion.close()

In [4]:
crear_base()

insertar_datos("Carlos", 2316901000, "CDIA")
insertar_datos("Ana", 2316904112, "INFO")
insertar_datos("Luis", 2316909090, "MECA")

mostrar_datos()

(1, 'Carlos', 2316901000, 'CDIA')
(2, 'Ana', 2316904112, 'INFO')
(3, 'Luis', 2316909090, 'MECA')

In [5]:
def modificar_dato(id, nuevo_nombre, nueva_matricula, nueva_carrera):
    conexion = sqlite3.connect("BasedeDatos.db")
    cursor = conexion.cursor()

    cursor.execute("""
    UPDATE Datos
    SET Nombre = ?, Matricula = ?, Carrera = ?
    WHERE ID = ?
    """, (nuevo_nombre, nueva_matricula, nueva_carrera, id))

    conexion.commit()
    conexion.close()

In [6]:
modificar_dato(1, "Carlos Alberto", 2316901000, "CDIA")

In [7]:
mostrar_datos()

(1, 'Carlos Alberto', 2316901000, 'CDIA')
(2, 'Ana', 2316904112, 'INFO')
(3, 'Luis', 2316909090, 'MECA')

In [8]:
def eliminar_dato(id):
    conexion = sqlite3.connect("BasedeDatos.db")
    cursor = conexion.cursor()

    cursor.execute("""
    DELETE FROM Datos
    WHERE ID = ?
    """, (id,))

    conexion.commit()
    conexion.close()

In [9]:
eliminar_dato(3)

In [10]:
mostrar_datos()

(1, 'Carlos Alberto', 2316901000, 'CDIA')
(2, 'Ana', 2316904112, 'INFO')